@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fraunces", serif;;
    overflow-x: hidden;
}

.header__main {
    background-color: #24053e;
    color: white;
    margin-bottom: 10rem;
    border-bottom-left-radius: 90% 5%;
    border-bottom-right-radius: 90% 5%;
}

.header__main__logos {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.25rem 0 1.25rem;
}

.header__main__logos a {
    color: white;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    border-bottom: 3px solid #44ffa1;
}

.header__main__logos a:hover{
    color: #44ffa1;
}

.hero__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3.5rem;
    padding: 0 1.25rem 0 1.25rem;
    height: 360px;
    overflow: hidden;
    
}

.hero__container h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    margin-bottom: 2.5rem;
}

.hero__container span {
    border-bottom: 3px solid #44ffa1;
}

.hero__container button {
    background-color: #44ffa1;
    width: 150px;
    height: 53px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 180%;
}

.hero__container button:hover,
.section__container button:hover {
    background-color: #24053e;
    color: #44ffa1;
    border: 1px solid #44ffa1;
}

.hero__container__img img {
    width: 330px;
    position: absolute; /* Keeps the image positioned relative to the container */
    top: 380px;
    left: 50%; /* Moves the image to the center */
    transform: translateX(-50%); /* Shifts the image back by 50% of its width to truly center it */
}

.hero__container__bg__img,
.hero__container__bg__img2 {
    display: none
}
    
.main__product__container {
    color: #24053e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.25rem 2rem 1.25rem;
}

.product__container__num {
    border-radius: 50%;
    border: 1px solid grey;
    padding: 1rem;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
}

.product__container__title {
    margin: 1rem 0 1rem 0;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0px;
}

.product__container__description {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0px;
    margin-top: 1rem;
}

.section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.25rem 0 1.25rem;
    margin-top: 4rem;
    position: relative;
}

.section__img img {
    width: 250px;
    position: relative; 
    z-index: -10;
    top: 50px;
}

.section__info {
    background-color: #24053e;
    color: white;
    margin-bottom: 5rem;
    z-index: 1;
    text-align: center;
    padding: 2rem;
}

.section__info h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0px;
    margin-bottom: 2rem;
}

.section__info p {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0px;
    margin-bottom: 2rem;
}

.section__info button {
    background-color: #44ffa1;
    width: 190px;
    height: 53px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 180%;
}

.section__info__img {
    display: none;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.footer__icons {
    display: flex;
    gap: 1rem;
}

@media (min-width: 768px) {
    .header__main {
        margin-bottom: 14rem;
    }

    .header__main__logos {
    padding: 2rem 2.75rem 0 2.75rem;
    }

    .hero__container h1 {
    width: 635px;
    padding: 0 7rem 0 7rem;
    }

    .hero__container__img img {
    width: 514px;
    top: 350px;
    }

    .hero__container__bg__img {
    display: block;
    position: absolute;
    top: 50px;
    left: -230px;
    }

    .hero__container__bg__img2 {
    display: block;
    position: absolute;
    right: -100px;
    top: 250px;
    overflow-x: hidden;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        margin: 0 2.75rem 0 2.75rem;
    }

    .main__product__container {
        flex-direction: row;
        padding: 0 0.5rem 0 0;
    }

    .product__container__num {
        margin-right: 3rem;
    }

    .product__container__title {
        flex-direction: column;
        text-align: left;
    }

    .section__container {
        margin: 4rem 2.75rem 0 2.75rem;
        padding-right: 0;
        height: 610px;
    }
    
    .section__img img {
        left: -215px;
    }

    .section__info {
        width: 504px;
        height: 390px;
        margin-left: auto;
        position: relative;
        top: -50px;
    }

    .section__info h3 {
        font-size: 48px;
        text-align: left;
    }

    .section__info p {
        text-align: left;
        font-size: 16px;
        line-height: 180%;
        letter-spacing: 0px;
        padding-right: 2rem;
    }

    .section__info button {
        margin-right: 16rem;
    }

    .section__info__img {
        display: block;
        position: absolute;
        bottom: -30px;
        right: 0px;
        z-index: 10;
    }
}

@media (min-width:1440px) {
    .header__main__logos {
        padding: 2rem 10rem 0 10rem;
    }
    
    .hero__container__bg__img {
        display: none;
    }

    .hero__container__bg__img3 {
        display: block;
        position: absolute;
        left: -70px;
        top: 100px;
        overflow-x: hidden;
    }
    
    .hero__container__bg__img2 {
        right: -40px;
        top: 200px;
    }

    .main__container {
        flex-direction: row;
        margin: 0 10rem 0 10rem;
        justify-content: center;
        align-items: center;
    }

    .main__product__container {
        flex-direction: column;
        height: 306px;
        width: 352px; 
        padding-top: 1rem;
        
    }

    .product__container__num {
        display: flex;
        flex-direction: column;
        margin-top: -3rem;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .product__container__title {
        text-align: center;
    }

    .product__container__description {
        font-size: 17px;
        line-height: 180%;
        letter-spacing: 0px;
    }

    .section__container {
        margin: 4rem 10rem 6rem 10rem;
        padding-right: 0;
    }
    
    .section__img img {
        left: -335px;
        top: 200px;
        width: 450px;
    }

    .section__info {
        width: 730px;
        height: 779px;
        margin-left: auto;
        position: relative;
        top: -50px;
        padding: 4rem;
    }

    .section__info p {
        font-size: 18px;
        padding-right: 0;
    }

    .section__info button {
        margin-left: -10rem;
    }

    .section__info__img {
        display: block;
        position: absolute;
        bottom: -100px;
        right: 100px;
        z-index: 10;
    }
    
}

/* test to see working */